@model WebProject.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>
    Project Details
</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="col-sm-2">@ViewData["Title"]</dl>
</div>
