@model WebProject.Models.Project

@{
    ViewData["Title"] = "Index";
}


<footer class="footer">
    <nav class="navbar">
        <ul>
            <li>
                <a asp-controller="Project" asp-action="Create">Projects</a>
                <a asp-controller="Task" asp-action="Add">Tasks</a>
                <a asp-controller="TimeEntry" asp-action="Insert">TimeEntity</a>
            </li>
        </ul>
    </nav>
</footer>
<h1>Projects</h1>




